In [1]:
import pandas as pd
import numpy as np

In [2]:
import requests
import urllib.parse
def getCoordinates(address):

    url = 'https://nominatim.openstreetmap.org/search/' + urllib.parse.quote(address) +'?format=json'
    response = requests.get(url).json()
    # print(response)
    if(len(response)>0):
        return response[0]["lat"],response[0]["lon"]
    else:
        return np.NaN,np.NaN;

In [3]:
df=pd.read_csv("tripadvisor_dataset/restaurant_listings.csv")

In [15]:
df['city'] = df["address"].str.split(', ').str[-1].str.split(" ").str[0]
eerste=df[:500]
tweede=df[500:1000]
derde=df[1000:1500]
vierde=df[1500:2000]
vijfde=df[2000:]

In [14]:
coords_eerste=eerste.apply(lambda row : getCoordinates(row["address"]),axis=1)

In [17]:
coords_eerste.to_csv("coords_eerste.csv")

In [18]:
coords_tweede=tweede.apply(lambda row : getCoordinates(row["address"]),axis=1)

In [19]:
coords_tweede.to_csv("coords_tweede.csv")

In [20]:
coords_derde=derde.apply(lambda row : getCoordinates(row["address"]),axis=1)

In [21]:
coords_derde.to_csv("coords_derde.csv")

In [22]:
coords_vierde=vierde.apply(lambda row : getCoordinates(row["address"]),axis=1)

In [23]:
coords_vierde.to_csv("coords_vierde.csv")

In [24]:
coords_vijfde=vijfde.apply(lambda row : getCoordinates(row["address"]),axis=1)

In [25]:
coords_vijfde.to_csv("coords_vijfde.csv")

In [27]:
coords_eerste

0               (51.0548994, 3.7223248)
1       (50.7887051, 4.052819574178704)
2                            (nan, nan)
3               (51.0582196, 3.7222621)
4               (51.0268308, 4.1005587)
                     ...
495    (51.03757225, 3.708426017184591)
496                          (nan, nan)
497             (51.0571992, 3.7263339)
498             (50.9372531, 4.0395404)
499             (51.0906518, 3.8150075)
Length: 500, dtype: object

In [28]:
coords_tweede

500                    (51.1064198, 3.6303079)
501           (51.22722365, 3.752044665562572)
502    (51.026329399999995, 4.216531067236005)
503          (50.96607025, 4.0370028243320615)
504           (51.05699085, 3.722443696061501)
                        ...
995    (50.937662450000005, 4.034754187149829)
996                    (51.1857364, 3.5590313)
997                                 (nan, nan)
998            (51.1605344, 4.150798994457261)
999                    (51.2797327, 3.6260755)
Length: 500, dtype: object

In [42]:
a=pd.concat([coords_eerste,coords_tweede,coords_derde,coords_vierde,coords_vijfde])

In [43]:
a=pd.DataFrame({"coord":a,"id":df.id})

In [50]:
a.to_csv("coordinates.csv")

In [53]:
a.set_index("id").to_csv("coordinates.csv")

In [54]:
a

                                        coord        id
0                     (51.0548994, 3.7223248)  13969825
1             (50.7887051, 4.052819574178704)    740727
2                                  (nan, nan)  12188645
3                     (51.0582196, 3.7222621)   9710340
4                     (51.0268308, 4.1005587)   8298124
...                                       ...       ...
2576                  (50.8528124, 3.7866609)  18220557
2577                  (50.9032568, 3.5050821)  23571474
2578  (50.947908850000005, 4.097626326789348)   3956680
2579          (50.9478251, 4.098753863305806)  23363568
2580          (50.9999861, 3.548880282553289)  24027867

[2581 rows x 2 columns]